/* 全局用到的样式 */
*{margin: 0;padding: 0;}
hr{color:#b4b4a0;background-color:#b4b4a0;height:1.5px;line-height:1px;font-size:0;border:none; width: 100%;}
.head-logo{background: url('../img/logo_bg.png') repeat-x;}
#carousel-libimg .carousel-inner .item{	width: 100%;height: 0;padding-bottom: 50%;overflow: hidden;}
#carousel-libimg .carousel-inner .item img{width: 100%;}
/* 自定义相关类 */
.color-red{color: red;}
.color-yellow{color: yellow;}
.color-gray{color:gray;}
.color-black{border:black;}
.font-weight{font-weight:bold;}
.list-dashed{border: 1px dashed;}

/* 实验室页面相关样式 */
.body-lib{
	background-color: rgb(245, 245, 245);
}

.main-lib{
	min-height: 500px;
	width:expression_r(document.body.clientWidth < 500 ? "500px": "auto" );
}
