/* 全局用到的样式 */
*{margin: 0;padding: 0;}
hr{color:#b4b4a0;background-color:#b4b4a0;height:1.5px;line-height:1px;font-size:0;border:none; width: 100%;}
.head-logo{background: url('../img/logo_bg.png') repeat-x;}
#carousel-libimg .carousel-inner .item{	width: 100%;height: 0;padding-bottom: 50%;overflow: hidden;}
#carousel-libimg .carousel-inner .item img{width: 100%;}
/* 自定义相关类 */
.color-red{color: red;}
.color-yellow{color: yellow;}
.color-gray{color:gray;}
.color-black{border:black;}
.font-weight{font-weight:bold;}
.list-dashed{border: 1px dashed;}
.left{float: left;}
.right{float: right;}

/* 实验室页面相关样式 */
.body-lib{
	background-color: #f0f0f0;
}

.main-lib{
	min-height: 500px;
	/* width:expression_r(document.body.clientWidth < 500 ? "500px": "auto" ); */
}


/* 登录页面样式 */
.body-login{
	position: absolute;
	width: 100%;
	height: 100%;
	padding-top: 10%;
  	padding-bottom: 40px;
	background: url('../img/login_bg.jpg') no-repeat;
	-webkit-background-size: cover;
	     -o-background-size: cover;
	        background-size: cover;
}

.form-login{
  	margin: 0 auto;
	max-width: 330px;
}

.form-login-heading{
	color: white;
	text-align: center;
	font-weight: bold;
}

/* 教学论坛页面样式 */
.bbs-nav{
	background-color: #001414;
}

.bbs-nav .active {
  color: #fff;
}

.bbs-nav-item {
  position: relative;
  display: inline-block;
  padding: 10px;
  font-weight: 500;
  color: #cdddeb;
  font-size: 1.2em;
}

.bbs-nav-item:hover,
.bbs-nav-item:focus {
  color: #fff;
  text-decoration: none;
}

.bbs-nav .active:after {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 0;
  margin-left: -5px;
  vertical-align: middle;
  content: " ";
  border-right: 5px solid transparent;
  border-bottom: 5px solid;
  border-left: 5px solid transparent;
  
}

.panel-bbs{
	min-height: 330px;
}

img.img-user{
	width: 100px;
	height: 100px;
	border: 1px solid gray;
}

img.img-commenter{
	width: 50px;
	height: 50px;
	border: 1px solid gray;
}

.bbs-name{
	font-size: 1.1em;
	color:grey;
}

